@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    text-align: center;
    padding: 32px;
    background-color: rgba(84, 78, 78, 0.605);
    border-bottom: 1px solid #5f44b689;
}

h1 {
    text-align: center;   
    margin-top: 24px;
    font-size: 40px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header a {
    margin-right: 32px;
}

header a:hover {
    color: rgb(61, 202, 209);
    transition: color 300ms;
}

.links {
    margin: auto;
    text-align: center;
}

.links a {
    color: rgba(171, 171, 171, 0.523);
    margin: 0 16px;
    font-size: 24px;
}

#footer {
    margin-top: 50px;
    margin-bottom: 30px;
}

.links a:hover {
    color: aqua;
    text-decoration: none;
}