@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    text-align: center;
    padding: 32px;
    background-color: rgba(84, 78, 78, 0.605);
    border-bottom: 1px solid #98394a;
}

h1 {
    text-align: center;   
    margin-top: 24px;
    font-size: 40px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#return-home {
    display: flex;
    flex-direction: row-reverse;
}

header a {
    margin-right: 32px;
}

header a:hover {
    color: rgb(61, 202, 209);
    transition: color 300ms;
}

table tr td img {
    margin: 50px 10px 20px 30px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    /* width: 850px;
    height: 350px; */
    opacity: 0.8;
}

table tr td p {
    max-width: auto;
    height: auto;
    margin-top: 30px;
    margin-right: 80px;
    font-size: 34px;
    align-items: center;
    justify-content: center;
}

ul {
    margin-left: 32px;
    margin-bottom: 50px;
}

ul h2 {
    color: blueviolet;
    margin-top: 60;
    margin-bottom: 40px;
    text-decoration: underline;
}

ul li {
   margin-left: 40px; 
   font-size: 24px;
}

.links {
    text-align: center;
    margin-bottom: 18px;
}

.links a {
    color: rgba(171, 171, 171, 0.523);
    margin: 0 16px;
    font-size: 24px;
    border-bottom: 1px solid #98394a;
}

.links a:hover {
    border: 0;
    color: aqua;
    text-decoration: none;
}