{% extends 'layout.njk' %}

{% block head %}
    <title>Desafio - Sobre</title>
{% endblock head %}

{% block content %}

    <h1>Rocketseat</h1>

    <table>
        <tr>
            <td><img src="https://miro.medium.com/max/2400/1*fs0ScMc45X9QEwno8G414A.png" alt="Logo Rocketseat"></td>

            <td>
                <p>
                    Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível 🚀<br>

                    Em um mundo onde a informação fica obsoleta cada vez mais rápido, velocidade de aprendizado é a chave para o sucesso.
                    <br>

                    Por isso a Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de comunidade, eventos, conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você precisa para masterizar no menor tempo possível as tecnologias mais modernas de desenvolvimento web e mobile, e dessa forma avançar para o próximo nível como programador.

                </p>
            </td>
        </tr>
    </table>

    <ul>
        <h2>Tecnologias Utilizadas pela Empresa:</h2>
        
        {% for tecnology in tecnologies %}
            <li>{{tecnology.name}}</li>
        {% endfor %}
        
    </ul>

    <div class="links" id="footer">
        {% for link in footer_links %}
            <a href="{{link.url}}" target="_blank">{{link.name}}</a>
        {% endfor %}

    </div>
{% endblock content %}