<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio</title>

    <link rel="shortcut icon" href="/Desafios/assets/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <div class="links">
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br" target="_blank">Email</a>
            <a href="tel:+5547992078767">Telefone</a>
            <a href="about.html">Sobre</a>
            <a href="contents.html">Conteúdos</a>
        </div>
    </header>

    <h1>Rocketseat</h1>

    <table>
        <tr>
            <td><img src="https://miro.medium.com/max/2400/1*fs0ScMc45X9QEwno8G414A.png" alt="Logo Rocketseat"></td>

            <td>
                <p>
                    Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores
                    em busca do próximo nível 🚀<br>

                    Em um mundo onde a informação fica obsoleta cada vez mais rápido, velocidade de aprendizado é a
                    chave para o sucesso. <br>

                    Por isso a Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de
                    comunidade, eventos, conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você
                    precisa para masterizar no menor tempo possível as tecnologias mais modernas de desenvolvimento web
                    e mobile, e dessa forma avançar para o próximo nível como programador.

                </p>
            </td>
        </tr>
    </table>

    <ul>
        <h2>Tecnologias Utilizadas pela Empresa:</h2>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Node.Js</li>
        <li>React</li>
        <li>React Native</li>
    </ul>

    <div class="links" id="footer">
        <a href="https://github.com/Rocketseat" target="_blank">GitHub</a>
        <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
        <a href="https://www.linkedin.com/school/rocketseat/" target="_blank">LinkedIn</a>
    </div>
</body>

</html>