{% extends 'layout.njk' %}

{% block head %}
    <title>Desafio - Cursos</title>
{% endblock head %}

{% block content %}

    <h1>Rocketseat</h1>

    <section class="cards">
        {% for course in courses %}
            <div class="card" id="{{course.id}}">
                <div class="card__image-container">
                    <img src="https://skylab.rocketseat.com.br/static/media/{{course.image_id}}.svg" alt="Curso {{course.id}}">
                </div>
                <div class="card__content">
                    <p>{{course.description}}</p>
                </div>
                <div class="card__info">
                    <p>{{course.modules}}</p>
                    <p class="card__price">{{course.price}}</p>
                </div>
            </div>
        {% endfor %}

    </section>

    <div class="links" id="footer">
        {% for link in footer_links %}
            <a href="{{link.url}}" target="_blank">{{link.name}}</a>
        {% endfor %}
    </div>

    <script src="scripts.js"></script>
{% endblock content %}