{% extends "layout.html" %}

{% block head %}
    <title>Portfolio - Gabriel Ribeiro</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards">
        <div class="card" id="GykTLqODQuU">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg" alt="Video aula">
            </div>
            <div class="card__content">
                <p>Formulário animado com JS puro e CSS animation | Mayk Brito</p>
            </div>
            <div class="card__info">
                <p>57 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="AqJKAJ0TKms">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/AqJKAJ0TKms/maxresdefault.jpg" alt="Video aula">
            </div>
            <div class="card__content">
                <p>Criando um PWA com React Native & Expo Web | Diego Fernandes</p>
            </div>
            <div class="card__info">
                <p>42 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="UftSB4DaRU4">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/UftSB4DaRU4/maxresdefault.jpg" alt="Video aula">
            </div>
            <div class="card__content">
                <p>Manipulação de DOM com Javascript, do zero, na prática | Mayk Brito</p>
            </div>
            <div class="card__info">
                <p>97 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="Vw9BG9fauIE">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/Vw9BG9fauIE/maxresdefault.jpg" alt="Video aula">
            </div>
            <div class="card__content">
                <p>É a hora de estudar o DENO? | Diego Fernandes</p>
            </div>
            <div class="card__info">
                <p>15 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="2iS3SHwft0k">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/2iS3SHwft0k/maxresdefault.jpg" alt="Video aula">
            </div>
            <div class="card__content">
                <p>Prisma 2: Automatize o acesso ao banco de dados | Diego Fernandes</p>
            </div>
            <div class="card__info">
                <p>31 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="-VQPimwkstM">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/-VQPimwkstM/maxresdefault.jpg" alt="Video aula">
            </div>
            <div class="card__content">
                <p>Menu de subcategorias com recursividade no Javascript | Mayk Brito</p>
            </div>
            <div class="card__info">
                <p>36 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>

{% endblock %}