@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    text-align: center;
    padding: 32px;
    background-color: rgba(84, 78, 78, 0.605);
    border-bottom: 1px solid #5f44b689;
}

h1 {
    text-align: center;   
    margin-top: 24px;
    font-size: 40px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header a {
    margin-right: 32px;
}

header a:hover {
    color: rgb(61, 202, 209);
    transition: color 300ms;
}

.links {
    margin: auto;
    text-align: center;
}

.links a {
    color: rgba(171, 171, 171, 0.523);
    margin: 0 16px;
    font-size: 24px;
}

#footer {
    margin-top: 50px;
    margin-bottom: 30px;
}

.links a:hover {
    color: aqua;
    text-decoration: none;
}

/*=== ABOUT ===*/

table tr td img {
    margin: 50px 10px 20px 30px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    opacity: 0.8;
    border: 5px solid #18b569;
}

table tr td p {
    max-width: auto;
    height: auto;
    margin-top: 30px;
    margin-right: 80px;
    font-size: 34px;
    align-items: center;
    justify-content: center;
}

ul {
    margin-left: 32px;
}

ul h2 {
    color: blueviolet;
    margin-top: 60;
    margin-bottom: 40px;
    text-decoration: underline;
}

ul li {
   margin-left: 40px; 
   font-size: 24px;
}

/*=== Courses ===*/

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1000px;
}

.card {
    background-color: #5f44b689;
    border-radius: 20px;
    height: 450px;
}

.card__image-container {
    width: 100%;
    padding-top: 28px;
    text-align: center;
}

.card__content {
    margin: 40px 20px 0;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.card__info {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
    padding: 24px;
}

.card__price {
    background-color: #5f44b689;
    filter: brightness(90%);
    border-radius: 20px;
    padding: 4px 20px;
    text-align: center;
}

.card:hover {
    cursor: pointer;
}

/*=== COURSE ===*/
.course {
    margin: 50px auto 0;
    max-width: 80%;
    height: 90%;
    max-height: 900px;
}

.card {
    background-color: #5f44b689;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.card__course-container iframe {
    width: 100%;
    height: 80%;
}

.course .card__info {
    position: relative;
    bottom: 5px;
    margin: 0;
}